@media screen and (max-width: 768px) {
  .hyou_name {
    td {
      input {
        width: calc(94% - 40px);
      }
    }
  }
  #page_mypage_login {
    #under02column_login {
      .login_area {
        padding: 0;
        .inputbox {
          background-color: initial;
          margin: 0;
        }
      }
    }
    #log2 {
      display: block;
      margin-bottom: 20px;
    }
  }
  .sp_x_scroll {
    overflow-x: scroll;
    width: 100%;
    .hyou {
      table-layout: fixed;
      width: 800px;
    }
  }
  #page_shopping_login {
    #under02column_login {
      .login_area {
        padding: 0;
        .inputbox {
          background-color: initial;
          margin: 0;
        }
      }
    }
    #log2 {
      display: block;
      margin-bottom: 20px;
    }
  }
  #page_mypage {
    .ec-pager {
      margin-top: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      li {
        a {
          border-right: 1px black solid;
          padding: 0 5px;
        }
      }
      .ec-pager__item--active {
        a {
          color: red;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #page_mypage_login {
    #log {
      width: 250px;
      margin-bottom: 20px;
    }
    #log2 {
      width: 250px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100%;
        display: block;
      }
    }
  }
  #page_shopping_login {
    #log {
      width: 250px;
      margin-bottom: 20px;
    }
    #log2 {
      width: 250px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100%;
        display: block;
      }
    }
  }
  #page_mypage {
    .ec-pager {
      margin-top: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      li {
        a {
          border-right: 1px black solid;
          padding: 0 5px;
        }
      }
      .ec-pager__item--active {
        a {
          color: red;
        }
      }
    }
  }
}
