@media screen and (min-width: 769px) {
  div#detailarea h4.detailtext_ex {
    font-size: 16px !important;
  }
  h3.detailtext_ex {
    font-size: 16px !important;
  }
  .voicecomment,
  .voicedate,
  .voicetitle {
    font-size: 14px !important;
  }
}
