@charset "utf-8";

/************************************************
 ブロック用
************************************************ */
/*** 目次 ***

▼ブロック共通
リスト
タイトル
ヘッダー上、フッター下のブロックエリア

▼各機能ブロックの指定
-新着情報
-現在のカゴの中
-カテゴリー
-ガイドリンク
-ログイン（サイド用）
-検索
-カレンダー
-おすすめ商品
    *メインカラム用 1カラム時 [one_maincolumn]
    *メインカラム用 2カラム時 [two_maincolumn_left]
                              [two_maincolumn_right]
    *メインカラム用 3カラム時 [three_maincolumn]
    *サイドカラム用           [side_column]
    *商品詳細のオススメ商品   [whobought_area]
 */


/* ==============================================
ブロック共通
/* ============================================= */
#container .bloc_body {
    background-color: #fff;
}
.side_column {
    overflow-x: hidden; /* IE6 表示乱れ防止 */
}
.side_column .bloc_outer {
    margin: 10px 7%;
}
.side_column .bloc_body ,
.main_column .bloc_body {
    border: solid 1px #ccc;
    border-top: none;
}
.side_column .bloc_body .box {
    border: solid 1px #ccc;
    width: 145px;
}
.main_column .bloc_outer {
    margin-bottom: 20px;
}

/*続きを読む 開閉機能*/
.grad-wrap {
    position: relative;
}
.grad-btn::before {
  content: "続きを読む"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 50px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
	padding-top: 15px;
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}
.grad-trigger:checked ~ .grad-btn {
    bottom: -38px;
	position: relative;
    left: 0px;
    top: 5px;
}
.grad-btn {
    border: 1px solid #3e3e3e;
    padding: 5px;
	z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
	background:#fff;
}


/* リスト
----------------------------------------------- */
/* ログイン 検索条件 */
#container .bloc_outer .bloc_body dl.formlist {
    margin-bottom: 8px;
}
#container .bloc_outer .bloc_body dl.formlist dd {
    margin-bottom: 5px;
}
#container .bloc_outer .bloc_body dl.formlist dt {
    margin-bottom: 3px;
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_03.gif") no-repeat left;
    font-size: 90%;
}
#container .bloc_outer .bloc_body dl.formlist span{
    vertical-align: top;
}

.inputbox dl.formlist {
    margin-bottom: 8px;
}
.inputbox dl.formlist dd {
    margin-bottom: 5px;
}
.inputbox dl.formlist dt {
    margin-bottom: 3px;
    padding-left: 15px;
    /*background: url("../img/icon/ico_arrow_03.gif") no-repeat left;*/
    font-size: 90%;
}
.inputbox dl.formlist span{
    vertical-align: top;
}



/* タイトル
----------------------------------------------- */
/* タイトルの背景 白 */
#login_area h2 ,
#search_area h2 ,
#calender_area h2 ,
#cart_area h2 ,
#cart h2 {
    padding: 5px 0 8px 10px;
    border-style: solid;
    border-color: #f90 #ccc #ccc;
    border-width: 1px 1px 0;
    background: url('../img/background/bg_tit_bloc_01.jpg') repeat-x left bottom;
    font-size: 14px;
}
#category_area h2 {
    border-top: solid 1px #f90;
    background: url('../img/background/bg_tit_bloc_01.jpg') repeat-x left bottom;
    padding: 5px 0 8px 10px;
    font-size: 14px;
}

/* タイトルの背景 オレンジ */
#recomend_area h2 ,
#news_area h2 {
    padding: 5px 0 8px 10px;
    border-style: solid;
    border-color: #f90 #ccc #ccc;
    border-width: 1px 1px 0;
    background: url('../img/background/bg_btn_bloc_02.jpg') repeat-x left bottom #fef3d8;
}


/* ==============================================
▼ヘッダー上、フッター下のブロックエリア
=============================================== */
div#topcolumn {
    margin:0px;
    clear:both;
}
div#bottomcolumn {
    margin:0px;
    clear: both;
}

/* ==============================================
▼テキストバナーエリア
=============================================== */
.text-bana{
	width:90%;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	padding:10px 0;
	margin:10px auto;
	text-align: center;
}
.text-bana li{
	border-top:1px dashed #333;
	padding-top: 10px;
    margin-top: 10px;
}
.text-bana li:first-child{
	border:none;
	padding:0;
	margin:0;
}

/* ***********************************************
▼各機能ブロックの指定
/*********************************************** */

/* ===============================================
▼新着情報
=============================================== */
#news_area .bloc_body {
    padding: 10px;
}
#news_area .news_contents {
    padding-right: 10px;
    max-height:260px;
    height: 260px;
    overflow:auto;
}

#news_area dl.newslist {
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}
#news_area dl.newslist dt {
    margin-bottom: 5px;
}
#news_area dl.newslist dd {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#news_area dl.end {
    padding: 10px 0;
    background: url("") no-repeat bottom;
}


/* ===============================================
▼現在のカゴの中
=============================================== */
#cart_area .information {
    padding: 10px;
}
#cart_area .postage {
    margin-top: 10px;
    padding-top: 10px;
    background: url("../img/background/line_dot_01.gif") repeat-x top;
}
#cart_area .postage .point_announce {
    padding: 2px 0 2px 20px;
    background: url("../img/icon/ico_price.gif") no-repeat left top;
}
#cart_area .btn {
    padding: 10px 0;
    background: url("../img/background/line_dot_01.gif") repeat-x top #f7f7e6;
    text-align: center;
}

/* ===============================================
▼カテゴリー
=============================================== */

#topbana-2col{
    width:100%;
    margin:30px auto;
	margin-bottom:0;
}
#topbana-2col table{
	width:100%;
}
#topbana-2col td{
	width:50%;
	padding:10px;
}
#topbana-3col{
    width:80%;	
    margin:auto;
}
#topbana-3col table{
	width:100%;
}
#topbana-3col td{
	width:33.33333%;
	padding:10px;
	vertical-align: top
}


#topcat{
    width:100%;	
    margin:30px auto;
}
#topcat table{
	width:100%;
}
#topcat td{
	width:20%;
	height:auto;
	padding:5px;
	vertical-align: top;
}
#topcat td img{
	width:100%
}
.catname{
	display:block;
	text-align:center;
	font-size:12px;
	padding-top:5px;
}








#category_area .bloc_body{
    background-color: #fffaf0;
}

#category_area li{
    padding-left: 5px;
}
#category_area li.level1{
    border-bottom: solid 1px #ccc;
}
#category_area li.level1 p{
    padding-left: 20px;
    margin: 7px 3px;
}
#category_area li.level1 p {
    background: url("../img/icon/ico_arrow_01.gif") 2px 3px no-repeat;
}
#category_area li.level1 li p {
    background: url("../img/icon/ico_level.gif") 7px 7px no-repeat;
}
#category_area li a {
    display: block;
    padding: 0;
}
a.onlink:link {
    color: #f00;
    text-decoration: underline;
}
a.onlink:visited {
    color: #f00;
}
a.onlink:hover {
    color: #f00;
}


/* ===============================================
▼ガイドリンク
=============================================== */
#guide_area {
    margin-top: 1em;
    border: none;
}
#guide_area li{
    margin-bottom: 5px;
    letter-spacing: -0.05em;
}
ul.button_like li {
    margin: 0;
    padding: 0 0 1px 0;
    background: url("../img/background/bg_btn_list.jpg") bottom repeat-x;
}
ul.button_like li a {
    margin: 0;
    padding: 10px 15px 10px 10px;
    border: 1px solid;
    /*border-bottom: none;*/
    border-color: #ccc;
    display: block;
    background: url("../img/icon/ico_arrow_02.gif") no-repeat right;
    text-decoration: none;
    outline: none;
}


/* ===============================================
▼ログイン（サイド用）
※ヘッダー用はbloc_alpha.css内に記述
=============================================== */
#container div#login_area .bloc_body {
    padding: 10px;
}

#container div#login_area .bloc_body p {
    margin-bottom: 5px;
}

#container div#login_area .bloc_body .btn {
    text-align: center;
}
#container .login_area dl.formlist {
    margin-bottom: 8px;
    width: 420px;
}
#container .login_area dl.formlist dt {
    margin-bottom: 3px;
    padding-left: 15px;
    color: #333;
    background: url("../img/icon/ico_arrow_03.gif") no-repeat left;
    width: 90px;
    float: left;
    font-size: 90%;
}
#container .login_area dl.formlist dd {
    margin-bottom: 5px;
    float: right;
    width: 300px;
    vertical-align: bottom;
    text-align: left;
}
#container div#login_area .bloc_body .mini {
    margin-top: 5px;
    letter-spacing: -0.01em;
}
.mypage-link a{
	display:block;
	padding:5px;
	margin: auto;
	margin-top:10px;
	border:1px solid #997545;
	border-radius:5px;
	color:#997545;
	text-align:center;
}

/* ===============================================
▼検索
=============================================== */
div#search_area .bloc_body {
    padding: 10px;
}
div#search_area .bloc_body .btn {
    text-align: center;
}


/* ===============================================
▼カレンダー
=============================================== */
#calender_area {
    background-color: transparent;
    border: none;
}
#calender_area .bloc_body {
    padding: 10px 0;
    background-color: #f1f9fc;
}
#calender_area table {
    background: #fff;
    border: none;
    width: 150px;
    margin: 0 auto 5px;
    font-size: 90%;
}
#calender_area table td {
    padding: 1px 3px;
    border-top: 1px solid #ccc;
    border-right: none;
    text-align:center;
}
#calender_area th {
    padding: 1px 3px;
    background: #fff;
    border: none;
    text-align: center;
}
#calender_area table .month {
    margin-bottom: 5px;
    padding-left: 12px;
    background: url("../img/icon/ico_arrow_04.gif") no-repeat left;
    font-size: 120%;
}
#calender_area .off {
    color: #f00;
}
#calender_area .information {
    margin-left: 10px;
    font-size: 90%;
}


/* ===============================================
▼おすすめ商品
=============================================== */
/*
   tplファイルのマークアップが同じ項目
   メインカラム用 2カラム時 [two_maincolumn_left]
                            [two_maincolumn_right]
   メインカラム用 3カラム時 [three_maincolumn]
   サイドカラム用           [side_column]
   商品詳細のオススメ商品   [whobought_area]
=============================================== */
/* 共通
----------------------------------------------- */
#recomend_area .bloc_body ,
#whobought_area .whobought_bloc {
    margin-bottom: 10px;
    padding: 10px 0 10px;
    border: none;
    width: 100%;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}

#recomend_area .bloc_body p ,
#whobought_area .whobought_bloc p {
    margin: 0 0 5px 0;
}

#recomend_area .bloc_body img ,
#whobought .whobought_bloc img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

#recomend_area .bloc_body h3 ,
#whobought_area .whobought_bloc h3 {
    font-size: 100%;
    font-weight: normal;
}


/* 画像
----------------------------------------------- */
#recomend_area .bloc_body .productImage ,
#whobought_area .whobought_bloc .productImage {
    margin-bottom: 10px;
    float: left;
    width: 90px;
}


/* 左右の振り分け+画像+テキスト
----------------------------------------------- */
.whobought_left {
    display:inline-block;
	vertical-align: top;
    width: 46%;
	padding:0 2%;
}
.whobought_left:last-of-type{
	padding:0 0 0 2%;
}
.productImage img{
	width:100%;
	height:auto;
}
.whobought_left {
	/*font-size:14px;*/
}
.whobought_left p{
margin-bottom:10px;
}
.whobought_left p ,.whobought_left a{
	font-weight:bold;
}

/* 商品説明テキスト
----------------------------------------------- */
/* メインカラム用 1カラム時*/
#one_maincolumn #recomend_area .bloc_body .productContents {
    float: right;
    width: 74%;
}

/* メインカラム用 2カラム時*/
#two_maincolumn_right #recomend_area .bloc_body .productContents ,
#two_maincolumn_left #recomend_area .bloc_body .productContents ,
#two_maincolumn_right #whobought_area .whobought_bloc .productContents ,
#two_maincolumn_left #whobought_area .whobought_bloc .productContents {
    float: right;
    width: 74%;
}

/* メインカラム用 3カラム時*/
#three_maincolumn #recomend_area .bloc_body .productContents ,
#three_maincolumn #whobought_area .whobought_bloc .productContents {
    float: right;
    width: 67%;
}

/* サイドカラム用 (幅px固定) */
.side_column #recomend_area .bloc_body {
    margin-top: 5px;
    margin-right: 0;
    width: 157px;
    padding: 0;
}
.side_column #recomend_area .bloc_body .productContents {
    padding: 0;
    margin: 0;
    width: 80px;
}
.side_column #recomend_area .recomendleft {
    padding: 0;
    width: 70px;
    float: left;
}
.side_column #recomend_area .recomendright {
    margin: 0;
    padding: 0;
    width: 70px;
    float: right;
}

/* IE6以下*/
* html .side_column #recomend_area .bloc_body {
    width: 180px;
}










/* The Nivo Slider styles */

#slider-area{
    width:100%;
	height:auto;
	margin:0 auto;
	margin-top: 5px;
	/*margin-bottom: 45px;*/
}
.slider-left{
	display:none;
	
	/*position:relative;
	top:0;
	left:0;
	width:25%;
	display:inline-block;
	margin-right:10px;*/
}

.bloc_outer{
    padding:0px 10px 10px 10px;	
	/*background-color: #f5f5f5;*/
	min-height:315px;
}
.bloc_outer h2{
    width:100%;
	background:#997545;
	color:#fff;
	padding:5px 0 5px 0px;
	text-align:center;
	font-size: 18px;
	letter-spacing: 3px;
	font-family:"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
#login{
    width:80%;
	margin:auto;	
}

#login .box{
    padding:30px 0 10px 0;
}
.btn input[type="image" i]{
    width:70%;
	display: block;
	margin:auto;
	margin-top:15px;
}
.btn input[type="image" i]:hover{
    opacity:0.6;	
}
.button input[type="image" i]{
    width:100%;	
	margin:10px auto;
}
.button input[type="image" i]:hover{
    opacity:0.6;	
}
#Registration ,#forget{
    text-align:center;
	margin-top:5px;	
}


#slider {
    width:100%; /* Change this to your images width */
    /*height:195px;*/ /* Change this to your images height */
    display:inline-block;
	vertical-align: top;
}
.slick-list{
	/*width:100% !important;
	padding:0 !important;*/
}
#slider .slick-prev{
    position:absolute;
    left:35px !important;
	top:97% !important;
	z-index:10;
}
#slider .slick-next{
    position:absolute;
    right:35px !important;
	top:97% !important;
	z-index:10;
}
#slider .slick-prev{
	background: none !important;
	width:35px !important;
	height:35px !important;
    /*height: 100% !important;
    width: 100px !important;*/
}
#slider .slick-next{
	background: none !important;
	width:35px !important;
	height:35px !important;
    /*height: 100% !important;
    width: 100px !important;*/	
}
#slider .slick-prev:hover,#slider .slick-next:hover{
	/*opacity:0.6;*/
}
#slider .slick-prev:before,#slider .slick-next:before{
	/*color: #4E4E4E !important;*/
    color: #997545 !important;
	opacity: 1 !important;
    font-size: 30px !important;
}
.main-slide-dots {
  text-align: center;
  margin-top:10px;
}
.main-slide-dots li {
  display: inline-block;
  margin: 0 5px;
}
.main-slide-dots li button {
  position: relative;
  text-indent: -9999px;
}
.main-slide-dots li button{
	border:none !important;
	background: none !important;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.main-slide-dots li button:before {
  content: '○';
  font-size: 18px !important;
  text-indent: 0px;
  position: absolute;
  top: 0;
  left: 0;
  color:#997545;
}
.main-slide-dots li.slick-active button:before {
  content: '●';
  font-size: 18px !important;
  color:#997545;
}


/*#slider {
    position:relative;
    width:615px;
    height:199px; 
    height:320px; 

}*/

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	/*position: absolute;
	right:6%;
	text-align:right;*/
	text-align: center;
	padding-top: 15px;
	width:100%;
}
.nivo-controlNav a {
	width:15px;
	height:15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	display:inline-block;
	/*padding-top:100px;*/
	cursor:pointer;
	background: url("../img_2018/slider/off.png");
	background-size: 100%;
}
.nivo-controlNav a.active {
	/*margin-left: 8px;
	margin-top: 2px;*/
	/*padding-top:100px;*/
	background: url("../img_2018/slider/on.png");
	background-size: 100%;
}

/* ラッシュ商品テーブル */
#lush_table {
 width: 100%;
 border-collapse: separate;
 border-spacing: 0px;
 border: 1px #000000 solid;
 empty-cells; hide;
 padding: 0px;
}

#lush_table_th {
 text-align: center;
 vertical-align: middle;
 font-weight: 700;
 font-size: 150%;
 border: 1px #000000 solid;
 background-color: #F4F5F5;
}

#lush_table_td {
 text-align: center;
 vertical-align: middle;
 font-size: 200%;
 border: 1px #000000 solid;
}

#lush_table_td_g {
 text-align: center;
 vertical-align: middle;
 font-weight: 700;
 font-size: 180%;
 border: 1px #000000 solid;
}

#lush_table_this {
 text-align: center;
 vertical-align: middle;
 border: 1px #000000 solid;
 background-color: #ce4d85;
}

#lush_table_p {
 width: 30%;
 background-color: #a1815b;
 color: #ffffff;
 font-weight: 900;
 font-size: 200%;
 text-align: center;
 vertical-align: middle;
 border: 1px #000000 solid;
}

#lush_table_s {
 width: 30%;
 background-color: #8ec522;
 color: #ffffff;
 font-weight: 900;
 font-size: 200%;
 text-align: center;
 vertical-align: middle;
 border: 1px #000000 solid;
}

#lush_table_y {
 width: 15%;
 background-color: #330f00;
 color: #ffffff;
 font-weight: 900;
 font-size: 200%;
 text-align: center;
 vertical-align: middle;
 border: 1px #000000 solid;
}

a#lush_link {
 text-decoration: none;
}

a#lush_this {
 text-decoration: none;
 color: #ffffff;
 font-weight: 900;
 font-size: 150%;
}


/* サブカテゴリ表示テキスト */
#sub_category {
 margin-left: 50px;
 margin-bottom: 5px;
}



/* ===============================================
▼2019追加分　ブロック共通css
=============================================== */

.kakaku{display:block; font-size:13px; font-weight:bold; margin-bottom:10px; text-align: center;}
.zei{font-size:12px;}
.shouhinmei{display:inline-table; font-size:12px; font-weight:bold; margin-bottom:10px;text-align: left; word-break: break-all;}
.shohin-setumei{display:none;}


/* ===============================================
▼2019追加分　新商品
=============================================== */

#newpr-products{
  width:100%;	
  padding:15px 0 15px 0;
  margin: auto;
margin-top:15px;
  /*background:#fff6f6;*/
}

#newpr-products h2{
  font-size:18px;
  color:#997545;
  text-align:center;
  margin-bottom:5px;
}
.newpr-inner{
  margin:0 auto;
overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}
.newpr-inner table{
    overflow-x: scroll;
     /*table-layout: fixed;*/
    width: 200%;
}
.newpr-inner td{
  width:20%;
  padding:0 15px;
vertical-align: top;
}
.newpr-inner ul{
  margin:0;
  padding:0;	
  font-size:0;
  list-style:none;
}
.newpr-inner li{
  font-size:12px;
}
.newpr-inner li:last-child{
  text-align: center;
}
.bannar-area{
	margin:0 auto;
overflow: scroll;
	-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}
.sp_info{
  width:100%;
  padding:15px 0 30px 0;
  margin: auto;
margin-bottom:5px;
  /*background:#fff6f6;*/
}
.sp_info table{
	overflow-x: scroll;
    table-layout: fixed;
    width: 828px;
	/*margin-left: 50px;*/
}
.sp_info td{
  width:250px;
  padding:0 5px;
vertical-align: top;
}
.sp_info td img{
  width:100%;
}

/* ===============================================
▼2019追加分　売れ筋商品ランキング
=============================================== */

#uresuji-ranking{
  width:100%;	
  padding:30px 0;
  /*margin:30px auto;*/
}

#uresuji-ranking h2{
  font-size:18px;
  color:#997545;
  text-align:center;
  margin-bottom:15px;
}
.uresuji-inner{
margin:0 auto;
overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}
.uresuji-inner table{
    overflow-x: scroll;
    /*table-layout: fixed;*/
    width: 200%;
}
.uresuji-inner td{
  width:20%;
  padding:0 15px !important;
  vertical-align: top;
}
.uresuji-inner ul{
  margin:0;
  padding:0;	
  font-size:0;
  list-style: none;
}
.uresuji-inner li{
  font-size:12px;
  text-align: center;
}
.uresuji-inner li:last-child{
  text-align: center;
}
.crown-no1 img{
  width:50px;
  height:auto;
  /*position: relative;
  top: -10px;*/
}
.crown img{
  width:50px;
  height:auto;
}
.prod img{
  width:100%;
  height:auto;
margin:10px auto;
}


/* ===============================================
▼2019追加分　おすすめ商品一覧
=============================================== */

#press-list{
  width:100%;	
  padding:0px 0px;
  margin:5px auto;
}

#press-list h2{
  font-size:18px;
  color:#997545;
  text-align:center;
  margin-bottom:15px;
}
.press-inner{
  margin:0 auto;
overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}
.press-inner table{
    overflow-x: scroll;
    /*table-layout: fixed;*/
    width: 200%;
  /*border-collapse:separate;
  border-spacing:8px;*/
}
.press-inner td{
  width:20%;
  padding:0 15px;
	vertical-align: top;
  /*border:1px solid #ccc;*/
}
.press-inner ul{
  margin:0;
  padding:0;	
  font-size:0;
  position:relative;
  max-height:400px;
  overflow:scroll;
}
.press-inner ul::-webkit-scrollbar{
  display: none;
}
.press-inner li{
  font-size:12px;
}
.press-inner li:last-child{
  text-align: center;
}
.tooltip{
  position:absolute;
  top:-5px;
  left:-5px;	
  z-index:10;
  font-size:13px;
  display: table;
}
.tooltip span{
  width:50px;
  height:50px;
  color:#fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.tip-new{
  background:#997545;
  border-radius:50%;
}
.tip-cam{
  background:#e88b8b;
  border-radius:50%;
}
.tip-press{
  background:#9679cc;
  border-radius:50%;
  font-size:12px;
}


/* ===============================================
▼2019追加分　トップコンテンツ
=============================================== */

#top-contents{
  width:100%;	
  background: #fff6f6;
  padding:25px 0;
   margin: 50px auto;
}
#top-contents table{
  width:95%;
  margin:auto;
}
#top-contents td{
  width:25%;
  text-align:center;
	padding: 0px 20px 20px 20px;
  vertical-align:top;
}
/*#top-contents td:last-child{
  margin: 0px 0px 20px 0px;
}*/
.contents-name{
	font-size:13px;
	text-align:left;
	margin-top:8px;
}
#instagram{
    margin:50px auto;	
}
.insta-button{
	padding:8px 12px;
	background:#e88b8b;
	display:table;
	margin:auto;
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	font-weight: bold;
}
.insta-button a{
    color:#fff;
	display:block;
}
insta-button:hover{
   	background:#da7373;	
}

/* ===============================================
▼マイページログイン
=============================================== */
#under02column_login{
	/*width:100%;*/
	margin:auto;
	font-size:14px;
	line-height:22px;
	padding:10px;
}
.loginarea h2{
    text-align:center;
	color: #997545;
    font-size: 15px;
    margin: 50px auto 10px auto;
	font-weight:bold;
}
.loginarea th{
	width:100% !important;
}
#under02column_login img{
	width:250px !important;
	display: block;
    margin: auto;
}
.login_text{
	color:#997545 !important;
	font-size:18px !important;
}
.touroku_text{
	color:#e88b8b !important;
	font-size:18px !important;
}
#under02column_login input[type=text],input[type=email],input[type=password]{
	height:30px !important;
}
#under02column_login input[type=image]{
	width:250px !important;
	diplay:block;
	margin-bottom:15px;
}
.login_area{
	padding:30px 0;
	text-align:center;
}
#under02column_login .login_area .inputbox {
    margin: 15px auto 15px auto;
    padding: 15px 20px 10px 20px;
    background: #f0f0f0;
}

/* ==============================================
▼MYページ
=============================================== */
/* 共通設定
----------------------------------------------- */
div#mypagecolumn {
    width: 95%;
	margin: auto;
}
div#mypagecolumn h2{
	width:100% !important;
}
div#mynavi_area {
    width: 100%;
}
#mypageT{
	margin:20px auto;
	text-align:center;
	border:1px solid #997545;
	padding:10px;
	border-radius: 5px;
}
div#mycontents_area {
    width: 100%;
}
td.alignC a {
    color: red;
}
div#mynavi_area .mynavi_list {
    margin-bottom: 20px;
    width: 100%;
}
div#mynavi_area .mynavi_list li {
    margin:0 15px 5px 0;
    padding-left: 15px;
    float: left;
    background: url('../img/icon/ico_arrow_01.gif') no-repeat left ;
    font-size: 120%;
}

div#mynavi_area div.point_announce {
    margin-bottom: 30px;
    padding: 10px;
    border: solid 1px #330F00;
}
div#mynavi_area div.point_announce p {
    padding-left: 20px;
    background: url('../img/icon/ico_point.gif') no-repeat left ;
}

div#mycontents_area p.inforamtion {
    margin-bottom: 20px;
}

div#mypagecolumn h4 {
    margin: 10px auto;
    border-bottom: 1px solid #999;
    text-align: left;
    font-size: 120%;
}
.pagenavi li{
	display:inline-block;
}

/* 購入履歴一覧/詳細
----------------------------------------------- */
#mycontentsarea {
    margin: 0 auto 20px 0;
    padding: 5px;
    /*border: solid 1px #ccc;*/
    /*width: 97%;*/
    /*background: #f9f9f9;*/
}
#mycontentsarea h2{
    text-align: center;
	margin:20px auto;
} 
#mycontentsarea p {
    text-align: left;
	margin:0 auto;
}
#mycontentsarea .btn {
    width: 160px;
    margin-top: 15px;
}
.mypage-kounyu{
	display:block;
	text-align: center;
	margin:10px auto;
}
.mypage-kounyu a{
	color:#fff;
	background:#e88b8b;
	padding:10px 20px;
	border-radius: 3px;
}
.alignC.valignM:first-child{
	/*width:100%;*/
}
.alignC valignM02{
	width: 70px;
}
#member_form {
    padding-bottom: 10px;
}
.entryform {
	width:100%;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
} 
.entryform input{
	height:30px;
	padding-left: 5px;
}  
.entryform th{
	width:70px;
  	vertical-align: middle;
	padding: 10px 0px 5px 0;
	text-align: center;
    font-size: 11px;
}
.loginarea > .entryform th{
  	vertical-align: middle;
	display: block;
    text-align: center;
    font-size: 13px;
}
.entryform td{
	font-size: 11px;
	vertical-align: middle;
    padding: 20px 0px;
    text-align: center;
}
.loginarea > .entryform td{
	font-size: 11px;
	vertical-align: middle;
    text-align: center;
	display: block;
    padding: 0;
}
.entryform td > a{
	color:red;
	display: block;
}
.entryform tr{
	border-bottom:1px dashed #cecccc;
	padding:10px 0;
}
.entryform tr:last-child{
	border:none;
}
.centertd{
	/*border:1px solid #333333;*/
	border-radius: 5px;
	text-align: center;
    vertical-align: middle;
	/*display: block;*/
}
.add_address {
    margin-bottom: 20px;
}
p.btn {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.entryform .box120 {
    display: block;
    margin: auto;
}
.entryform input[type="text"] {
width: 85%;
}
.entryform select {
max-width: 80%;
}

.delivery01 td{
	padding:10px 5px !important;
}
.deliv01{
	width:5% !important;
}
.delivery01 input{
	height:20px !important;
	text-align: center !important;
	margin:auto;
} 
.deliv02{
	width:15% !important;
}
.deliv03{
	width:70% !important;
}
.deliv04{
	width:10% !important;
}

/* 会員登録内容変更/退会
----------------------------------------------- */
div#mycontents_area .message_area {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

div#mycontents_area .message_area p {
    margin-bottom: 20px;
}

/* ==============================================
▼会員登録
=============================================== */
div#undercolumn_entry {
    width: 100%;
}

div#undercolumn_entry .kiyaku_text {
    margin: 20px auto;
    padding: 10px;
    border: solid 1px #ccc;
    width: 94%;
    background: #fff;
}



/* ===============================================
▼トップページ 商品特集
=============================================== */
#product-fe{
	  width:100%;	
  padding:20px 0;
	/*background:#f9f9f9; グレー背景*/
	/*background:#fff6f6; ピンク背景*/
}
#product-fe h2{
  font-size:18px;
  color:#997545;
  text-align:center;
  margin-bottom:5px;
}
.product-fe-inner{
  margin:0 auto;
overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}
#product-fe table{
  /*width:90%;*/
  margin:auto;
}
#product-fe td{
  min-width: 165px;
  padding:3px;
}
#product-fe img{
  width:100%;	
}

/*202203以降に追加*/
.products-lp-bana{
	width:100%;
	padding:30px 0;
}
.products-lp-bana-inner{
	width:90%;
	margin:auto;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
}
.products-lp-bana li{
	width:49%;
	/*padding:0.5%;*/
	margin: 0.5%;
	overflow: hidden;
}
.products-lp-bana img{
	width:100%;
}
.products-lp-bana img:hover{
	transform: scale(1.05);
	transition-duration: 1s;
}
.products-lp-bana a:hover{
	opacity:1;
}


/* ===============================================
▼2020追加分　新着レビュー一覧
=============================================== */

#new-review{
  width:100%;	
  padding:15px 0;
  margin:20px auto;
  /*background:#f2f2f2;*/
}
#new-review h2{
  font-size:18px;
  color:#997545;
  text-align:center;
  margin-bottom:5px;
}
#new-review h3{
	margin-bottom:3px !important;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	margin-bottom:10px;
}
.review-inner{
  width:100%;
  margin:0 auto;
overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}
.review-inner table{
    overflow-x: scroll;
	width: 1320px;
    display: inline-block;
}
.review-inner td{
      width: 320px;
    padding: 10px 5px 10px 0px;
    vertical-align: top;
    display: inline-block;
}
.review-inner tr{
  margin-bottom:0px;	
  display: table-cell;
	vertical-align: top;
}
.rev-prod{
  width:30%;
  display:inline-block;	
  vertical-align:top;
}
.rev-prod img{
  width:100%;
  height:auto;	
}
.review-inner ul{
  margin:0;
  padding:0;	
  font-size:0;
  width:65%;
  display:inline-block;
  margin-left:10px;
  text-align: left;
}
.review-inner li{
  font-size:12px;
  display:inline-block;
  /*margin-right:8px;*/
  margin-bottom: 3px;
vertical-align: top;
}
.review-inner li:nth-child(1){
  margin:0;
  display:block;
}
.review-inner li:nth-child(2){
 margin-right:5px;
}
.review-inner li:nth-child(4){
 margin-left:5px;
}
.kaigyou{
	display: block !important;
}

.rating img{
    height: 12px;
    vertical-align: text-top;
	 display:inline-block;
}


/*2022追加 インフォメーションバナー*/
#info-bana{
	width:100%;
	padding: 15px 0;
	margin:20px auto;
}
.info-bana-scrollarea{
	width:100%;
	overflow-x: scroll;
    table-layout: fixed;
}
.info-bana-area{
	width:1500px;/*250pxのバナー6つ分*/
	margin:auto;
	display:flex;
	align-items:flex-start;
	justify-content:center;
	flex-wrap:nowrap;
	overflow-x: scroll;
    table-layout: fixed;
	padding-left:5px;
}
.info-bana-item{
	width: 250px;
    padding: 0 5px;
    vertical-align: top;
}