$page-contact-font-jp:
  "source-han-sans-japanese",
  "Source Han Sans JP",
  "Hiragino Sans",
  "Yu Gothic Medium",
  YuGothic,
  Meiryo,
  sans-serif;
$page-contact-font-en:
  "Josefin Sans",
  "Avenir Next",
  "Helvetica Neue",
  Arial,
  sans-serif;

.page_contact_renewal {
  margin-top: 80px !important;
  padding-bottom: 50px;

  @media screen and (max-width: 768px) {
    margin-top: 50px !important;
    padding-bottom: 40px;
  }

  h2.title {
    margin: 0 !important;
    padding: 60px 0 40px;
    color: #3E3E3E !important;
    text-align: center;
    font-family: $page-contact-font-jp;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 3px;
    &.contact_complete_title {
      padding-bottom: 0 !important;
      @media screen and (max-width: 768px) {
        padding: 16px 0 0;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 40px 0 40px;
      border: none !important;
      width: 100%;
    }

    .en_sub {
      color: #3E3E3E !important;
      text-align: center;
      font-family: $page-contact-font-en;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 3px;
      display: block;

      @media screen and (max-width: 768px) {
      }
    }
    
  }

  .on_form_text {
    color: #3E3E3E;
    text-align: center;
    font-family: "source-han-sans-japanese";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2px;
    padding-bottom: 80px;

    .only_sp {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 40px;
      font-size: 12px;
      line-height: 16px;
      width: 100%;
    }
  }

  .contact-form-container {
    display: table;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    max-width: 1170px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 0 16px;
    }

    &.contact-confirm-form-container {
      @media screen and (max-width: 768px) {
        width: 90% !important;
        margin: 0 16px;
      }
    }

    .form-row {
      width: 100%;
      display: flex;
      gap: 80px;
      align-items: center;
      padding: 32px 0;
      border-bottom: 1px solid #E0E0E0;

      &:last-child {
        border-bottom: none;
      }

      @media screen and (max-width: 768px) {
        gap: 8px;
        flex-direction: column;
        padding: 16px 0;
        align-items: flex-start;
      }
    }

    .form-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 217px;
      color: #3E3E3E;
      font-family: "source-han-sans-japanese";
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 2px;

      .attention_text {
        color: #FFF;
        font-family: "source-han-sans-japanese";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        display: flex;
        width: 44px;
        height: 26px;
        padding: 4px 9.656px 5px 10px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 5px;
        background: #E88B8B;
        white-space: nowrap;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: flex-start;
        gap: 8px;
      }
    }

    .form-field {
      padding: 10px 0;
      color: #3E3E3E;
      font-family: "source-han-sans-japanese";
      padding: 0 !important;
      max-width: calc(100% - 297px);

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
      }

      .half-size-form {
        display: flex;
        width: 270px !important;
        height: 32px !important;
        padding: 8px 16px;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #E0E0E0;
        background: #FFF;
        margin: 0 !important;
        font-family: "source-han-sans-japanese";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 2px;

        &::placeholder {
          color: #999;
          font-family: "source-han-sans-japanese";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 2px;
        }

        @media screen and (max-width: 768px) {
          width: 100% !important;
          padding: 8px;
          font-size: 13px !important;
          line-height: 13px !important;
        }
      }

      .half-size-form-select {
        position: relative;
        display: flex;
        width: 270px !important;
        height: 32px !important;
        padding: 8px 16px;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #E0E0E0;
        background: #FFF;
        margin: 0 !important;
      
        padding:0;
         @media screen and (max-width: 768px) {
          width: 100% !important;
          
        }
        &::after{
          position: absolute;
          right: 20px;
          z-index: 3;
          content: "";
          width: 9.1px;
          height: 6.8px;
          top:12.5px;
          background-image: url(../img/contact-sankaku.svg);
        }
        
        select{
          background: #FFF;
          width: 100%;
          padding: 0 12px;
          color: #999 ;
          text-align: left;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: none;
          font-size: 12px;
          font-family: "source-han-sans-japanese";
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 2px;
          @media screen and (max-width: 768px) {
            padding: 2px 6px;
            text-align: left;
            width:100% !important;
            font-size: 13px !important;
            line-height: 13px !important;
          }
          // 未選択時の色
          &:invalid {
            color: #999 !important;
          }
          &:valid {
            color: #3E3E3E !important;
          }
          option{
            color:#3E3E3E;
          }
          option:first-child{ 
            color: #999;
          }
        }
      }

      .full-size-form {
        display: flex;
        width: 697px !important;
        height: 32px !important;
        padding: 8px 16px;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #E0E0E0;
        background: #FFF;
        margin: 0 !important;
        font-family: "source-han-sans-japanese";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 2px;
        @media screen and (max-width: 1100px) {
          width:500px !important
        }
        @media screen and (max-width: 860px) {
          width:400px !important
        }
        &::placeholder {
          color: #999;
          font-family: "source-han-sans-japanese";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 2px;
        }

        @media screen and (max-width: 768px) {
          width: 100% !important;
          padding: 8px;
          font-size: 13px !important;
          line-height: 13px !important;
        }
      }

      textarea.full-size-form {
        height: 300px !important;
        padding-top: 12px;
        resize: vertical;
        line-height: 18px;
      }

      .area_full_name {
        display: flex;
        gap: 24px;

        @media screen and (max-width: 950px) {
          flex-direction: column;
          gap: 8px;
        }
      }

      .ec-errorMessage {
        color: #F00;
        font-family: "source-han-sans-japanese";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 2px;
        padding-bottom: 8px;
      }

      .mini_text {
        color: #F00;
        font-family: "source-han-sans-japanese";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
        line-height: 16px;
        letter-spacing: 2px;
        padding-top: 8px;
        position: relative;
        padding-left: 14px;
        &::before{
          content: "※";
          position: absolute;
          left:0;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 2px;

        }
      }

      .mini_text2 {
        padding-top: 0px;
      }
    }
  }

  .renewal_contact_submit {
    button {
      margin: 0 auto;
      display: flex;
      width: 267px;
      padding: 16px 0;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #E88B8B !important;
      color: #FFF;
      text-align: center;
      font-family: "source-han-sans-japanese";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 2px;
      @media screen and (max-width: 768px) {
          padding:9px 0;
          font-size:13px;
          line-height: 21px;
          font-weight:700;
          letter-spacing:0;
          width: 267px;

        }
    }
  }

  .renewal_contact_submit_confirm {
    padding-top: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 16px;
      padding-top: 24px;
    }

    button {
      display: flex;
      width: 267px;
      padding:16px 0;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      color: #FFF;
      text-align: center;
      font-family: "source-han-sans-japanese";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 2px;
        @media screen and (max-width: 768px) {
          padding:9px 0;
          font-size:13px;
          line-height: 21px;
          font-weight:700;
          letter-spacing:0;
          width:267px;
        }
      &.return_confirm_btn {
        background: #997545;
      }

      &.submit_confirm_btn {
        border-radius: 4px;
        background: #E88B8B;
      }
    }
  }
  .renewal_contact_complete{
    max-width:720px;
    margin:0 auto;
    .renewal_contact_complete_message{
      color: #997545;
      text-align: center;
      font-family: "source-han-sans-japanese";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2px;
      padding: 40px 0;
      @media screen and (max-width: 768px) {
          font-size: 20px;
          padding: 16px 0 24px;
      }
      .only_sp {
        display: none;

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
    .renewal_contact_complete_text{
      color: #3E3E3E;
      text-align: center;
      font-family: "source-han-sans-japanese";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 2px;
      padding-bottom: 40px;
      white-space: nowrap;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 16px;
      }
      .only_sp {
        display: none;

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
      
    }
    .shop_information{
      width: 100%;
      border-top: #D9D9D9 solid 1px;
      padding: 24px 40px 40px;
      @media screen and (max-width: 768px) {
        padding: 16px 0;
      }
      .name{
        color: #3E3E3E;
        text-align: center;
        font-family: "source-han-sans-japanese";
        font-size:20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 2px;
        padding-bottom: 40px;
        @media screen and (max-width: 768px) {
          padding-bottom: 8px;
        }
      }
      a{
        display: block;
        color: #3E3E3E;
        text-align: center;
        font-family: "source-han-sans-japanese";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        @media screen and (max-width: 768px) {
          padding-bottom: 8px;
          line-height: 14px;
        }
        &.phone-link{
          padding-bottom: 8px;
          @media screen and (max-width: 768px) {
            padding-bottom: 8px;
          } 
        }
      }
      
    }
    .renewal_contact_submit {
    .button-to-top {
      margin: 0 auto;
      display: flex;
      width: 267px;
      padding: 24px 0;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #997545;
      color: #FFF;
      text-align: center;
      font-family: "source-han-sans-japanese";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 2px;
      @media screen and (max-width: 768px) {
          padding:9px 0;
          font-size:13px;
          line-height: 21px;
          font-weight:700;
          letter-spacing:0;
          width: 267px;

        }
    }
  }
  }
}

#page_contact {
  .ec-layoutRole__contents {
    margin: 0 !important;

    #page {
      margin-top: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  header .down-arrow-open .down-arrow-text {
    white-space: nowrap;
  }
  
}

#page_contact,#page_contact_complete {
  .ec-layoutRole__contents {
    margin: 0 !important;

    #page {
      margin-top: 0 !important;
    }
  }
}
#page_contact_complete{
  #undercolumn {
    margin-bottom: 0 !important;
  }
  .page_contact_renewal {
    padding-bottom: 64px;
    @media screen and (max-width: 768px) {
      padding-bottom:16px ;
    }
  }
}
@media screen and (max-width: 768px) {
  header .down-arrow-open .down-arrow-text {
    white-space: nowrap;
  }
  #undercolomn {
    margin-bottom: 0 !important;
  }
}
